.gitignore
htdocs/*.txt
htdocs/.htaccess
htdocs/administrator/cache/*
htdocs/administrator/components/com_admin/*
htdocs/administrator/components/com_ajax/*
htdocs/administrator/components/com_banners/*
htdocs/administrator/components/com_cache/*
htdocs/administrator/components/com_categories/*
htdocs/administrator/components/com_checkin/*
htdocs/administrator/components/com_config/*
htdocs/administrator/components/com_contact/*
htdocs/administrator/components/com_content/*
htdocs/administrator/components/com_contenthistory/*
htdocs/administrator/components/com_cpanel/*
htdocs/administrator/components/com_finder/*
htdocs/administrator/components/com_installer/*
htdocs/administrator/components/com_joomlaupdate/*
htdocs/administrator/components/com_languages/*
htdocs/administrator/components/com_login/*
htdocs/administrator/components/com_media/*
htdocs/administrator/components/com_menus/*
htdocs/administrator/components/com_messages/*
htdocs/administrator/components/com_modules/*
htdocs/administrator/components/com_newsfeeds/*
htdocs/administrator/components/com_plugins/*
htdocs/administrator/components/com_postinstall/*
htdocs/administrator/components/com_redirect/*
htdocs/administrator/components/com_search/*
htdocs/administrator/components/com_tags/*
htdocs/administrator/components/com_templates/*
htdocs/administrator/components/com_users/*
htdocs/administrator/components/com_weblinks/*
htdocs/administrator/components/index.html
htdocs/administrator/help/*
htdocs/administrator/includes/*
htdocs/administrator/index.php
htdocs/administrator/language/en-GB/
htdocs/administrator/language/en-GB/en-GB.com_admin.ini
htdocs/administrator/language/en-GB/en-GB.com_admin.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_banners.ini
htdocs/administrator/language/en-GB/en-GB.com_banners.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_cache.ini
htdocs/administrator/language/en-GB/en-GB.com_cache.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_categories.ini
htdocs/administrator/language/en-GB/en-GB.com_categories.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_checkin.ini
htdocs/administrator/language/en-GB/en-GB.com_checkin.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_config.ini
htdocs/administrator/language/en-GB/en-GB.com_config.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_contact.ini
htdocs/administrator/language/en-GB/en-GB.com_contact.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_content.ini
htdocs/administrator/language/en-GB/en-GB.com_content.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_cpanel.ini
htdocs/administrator/language/en-GB/en-GB.com_cpanel.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_installer.ini
htdocs/administrator/language/en-GB/en-GB.com_installer.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_languages.ini
htdocs/administrator/language/en-GB/en-GB.com_languages.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_login.ini
htdocs/administrator/language/en-GB/en-GB.com_login.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_mailto.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_media.ini
htdocs/administrator/language/en-GB/en-GB.com_media.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_menus.ini
htdocs/administrator/language/en-GB/en-GB.com_menus.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_messages.ini
htdocs/administrator/language/en-GB/en-GB.com_messages.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_modules.ini
htdocs/administrator/language/en-GB/en-GB.com_modules.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_newsfeeds.ini
htdocs/administrator/language/en-GB/en-GB.com_newsfeeds.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_plugins.ini
htdocs/administrator/language/en-GB/en-GB.com_plugins.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_redirect.ini
htdocs/administrator/language/en-GB/en-GB.com_redirect.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_search.ini
htdocs/administrator/language/en-GB/en-GB.com_search.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_templates.ini
htdocs/administrator/language/en-GB/en-GB.com_templates.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_users.ini
htdocs/administrator/language/en-GB/en-GB.com_users.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_weblinks.ini
htdocs/administrator/language/en-GB/en-GB.com_weblinks.sys.ini
htdocs/administrator/language/en-GB/en-GB.com_wrapper.ini
htdocs/administrator/language/en-GB/en-GB.com_wrapper.sys.ini
htdocs/administrator/language/en-GB/en-GB.ini
htdocs/administrator/language/en-GB/en-GB.lib_joomla.ini
htdocs/administrator/language/en-GB/en-GB.localise.php
htdocs/administrator/language/en-GB/en-GB.mod_custom.ini
htdocs/administrator/language/en-GB/en-GB.mod_custom.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_feed.ini
htdocs/administrator/language/en-GB/en-GB.mod_feed.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_latest.ini
htdocs/administrator/language/en-GB/en-GB.mod_latest.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_logged.ini
htdocs/administrator/language/en-GB/en-GB.mod_logged.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_login.ini
htdocs/administrator/language/en-GB/en-GB.mod_login.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_menu.ini
htdocs/administrator/language/en-GB/en-GB.mod_menu.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_online.ini
htdocs/administrator/language/en-GB/en-GB.mod_online.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_popular.ini
htdocs/administrator/language/en-GB/en-GB.mod_popular.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_quickicon.ini
htdocs/administrator/language/en-GB/en-GB.mod_quickicon.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_status.ini
htdocs/administrator/language/en-GB/en-GB.mod_status.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_submenu.ini
htdocs/administrator/language/en-GB/en-GB.mod_submenu.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_title.ini
htdocs/administrator/language/en-GB/en-GB.mod_title.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_toolbar.ini
htdocs/administrator/language/en-GB/en-GB.mod_toolbar.sys.ini
htdocs/administrator/language/en-GB/en-GB.mod_unread.ini
htdocs/administrator/language/en-GB/en-GB.mod_unread.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_authentication_example.ini
htdocs/administrator/language/en-GB/en-GB.plg_authentication_example.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_authentication_gmail.ini
htdocs/administrator/language/en-GB/en-GB.plg_authentication_gmail.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_authentication_joomla.ini
htdocs/administrator/language/en-GB/en-GB.plg_authentication_joomla.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_authentication_ldap.ini
htdocs/administrator/language/en-GB/en-GB.plg_authentication_ldap.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_emailcloak.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_emailcloak.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_geshi.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_geshi.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_joomla.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_joomla.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_loadmodule.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_loadmodule.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_pagebreak.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_pagebreak.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_pagenavigation.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_pagenavigation.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_vote.ini
htdocs/administrator/language/en-GB/en-GB.plg_content_vote.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors-xtd_article.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors-xtd_article.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors-xtd_image.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors-xtd_image.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors-xtd_pagebreak.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors-xtd_pagebreak.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors-xtd_readmore.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors-xtd_readmore.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors_codemirror.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors_codemirror.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors_none.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors_none.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors_tinymce.ini
htdocs/administrator/language/en-GB/en-GB.plg_editors_tinymce.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_extension_joomla.ini
htdocs/administrator/language/en-GB/en-GB.plg_extension_joomla.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_search_categories.ini
htdocs/administrator/language/en-GB/en-GB.plg_search_categories.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_search_contacts.ini
htdocs/administrator/language/en-GB/en-GB.plg_search_contacts.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_search_content.ini
htdocs/administrator/language/en-GB/en-GB.plg_search_content.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_search_newsfeeds.ini
htdocs/administrator/language/en-GB/en-GB.plg_search_newsfeeds.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_search_weblinks.ini
htdocs/administrator/language/en-GB/en-GB.plg_search_weblinks.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_cache.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_cache.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_debug.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_debug.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_languagefilter.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_languagefilter.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_log.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_log.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_logout.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_logout.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_p3p.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_p3p.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_redirect.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_redirect.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_remember.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_remember.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_sef.ini
htdocs/administrator/language/en-GB/en-GB.plg_system_sef.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_user_contactcreator.ini
htdocs/administrator/language/en-GB/en-GB.plg_user_contactcreator.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_user_joomla.ini
htdocs/administrator/language/en-GB/en-GB.plg_user_joomla.sys.ini
htdocs/administrator/language/en-GB/en-GB.plg_user_profile.ini
htdocs/administrator/language/en-GB/en-GB.plg_user_profile.sys.ini
htdocs/administrator/language/en-GB/en-GB.tpl_bluestork.ini
htdocs/administrator/language/en-GB/en-GB.tpl_bluestork.sys.ini
htdocs/administrator/language/en-GB/en-GB.tpl_hathor.ini
htdocs/administrator/language/en-GB/en-GB.tpl_hathor.sys.ini
htdocs/administrator/language/en-GB/en-GB.xml
htdocs/administrator/language/en-GB/index.html
htdocs/administrator/language/index.html
htdocs/administrator/language/overrides/*
htdocs/administrator/manifests/*
htdocs/administrator/modules/index.html
htdocs/administrator/modules/mod_custom/*
htdocs/administrator/modules/mod_feed/*
htdocs/administrator/modules/mod_latest/*
htdocs/administrator/modules/mod_logged/*
htdocs/administrator/modules/mod_login/*
htdocs/administrator/modules/mod_menu/*
htdocs/administrator/modules/mod_multilangstatus/*
htdocs/administrator/modules/mod_online/*
htdocs/administrator/modules/mod_popular/*
htdocs/administrator/modules/mod_quickicon/*
htdocs/administrator/modules/mod_stats_admin/*
htdocs/administrator/modules/mod_status/*
htdocs/administrator/modules/mod_submenu/*
htdocs/administrator/modules/mod_title/*
htdocs/administrator/modules/mod_toolbar/*
htdocs/administrator/modules/mod_unread/*
htdocs/administrator/modules/mod_version/*
htdocs/administrator/templates/bluestork/*
htdocs/administrator/templates/hathor/*
htdocs/administrator/templates/index.html
htdocs/administrator/templates/isis/*
htdocs/administrator/templates/system/*
htdocs/bin/*
htdocs/cache/*
htdocs/cli/*
htdocs/components/com_ajax/*
htdocs/components/com_banners/*
htdocs/components/com_config/*
htdocs/components/com_contact/*
htdocs/components/com_content/*
htdocs/components/com_contenthistory/*
htdocs/components/com_finder/*
htdocs/components/com_mailto/*
htdocs/components/com_media/*
htdocs/components/com_newsfeeds/*
htdocs/components/com_search/*
htdocs/components/com_tags/*
htdocs/components/com_users/*
htdocs/components/com_weblinks/*
htdocs/components/com_wrapper/*
htdocs/components/index.html
htdocs/configuration.php
htdocs/images/banners/*
htdocs/images/headers/blue-flower.jpg
htdocs/images/headers/index.html
htdocs/images/headers/maple.jpg
htdocs/images/headers/raindrops.jpg
htdocs/images/headers/walden-pond.jpg
htdocs/images/headers/windows.jpg
htdocs/images/index.html
htdocs/images/joomla*
htdocs/images/powered_by.png
htdocs/images/sampledata/*
htdocs/includes/*
htdocs/index.php
htdocs/installation/*
htdocs/joomla.xml
htdocs/language/en-GB/en-GB.com_ajax.ini
htdocs/language/en-GB/en-GB.com_config.ini
htdocs/language/en-GB/en-GB.com_contact.ini
htdocs/language/en-GB/en-GB.com_content.ini
htdocs/language/en-GB/en-GB.com_finder.ini
htdocs/language/en-GB/en-GB.com_mailto.ini
htdocs/language/en-GB/en-GB.com_media.ini
htdocs/language/en-GB/en-GB.com_messages.ini
htdocs/language/en-GB/en-GB.com_newsfeeds.ini
htdocs/language/en-GB/en-GB.com_search.ini
htdocs/language/en-GB/en-GB.com_tags.ini
htdocs/language/en-GB/en-GB.com_users.ini
htdocs/language/en-GB/en-GB.com_weblinks.ini
htdocs/language/en-GB/en-GB.com_wrapper.ini
htdocs/language/en-GB/en-GB.files_joomla.sys.ini
htdocs/language/en-GB/en-GB.finder_cli.ini
htdocs/language/en-GB/en-GB.ini
htdocs/language/en-GB/en-GB.lib_fof.sys.ini
htdocs/language/en-GB/en-GB.lib_idna_convert.sys.ini
htdocs/language/en-GB/en-GB.lib_joomla.ini
htdocs/language/en-GB/en-GB.lib_joomla.sys.ini
htdocs/language/en-GB/en-GB.lib_phpass.sys.ini
htdocs/language/en-GB/en-GB.lib_phpmailer.sys.ini
htdocs/language/en-GB/en-GB.lib_phputf8.sys.ini
htdocs/language/en-GB/en-GB.lib_simplepie.sys.ini
htdocs/language/en-GB/en-GB.localise.php
htdocs/language/en-GB/en-GB.mod_articles_archive.ini
htdocs/language/en-GB/en-GB.mod_articles_archive.sys.ini
htdocs/language/en-GB/en-GB.mod_articles_categories.ini
htdocs/language/en-GB/en-GB.mod_articles_categories.sys.ini
htdocs/language/en-GB/en-GB.mod_articles_category.ini
htdocs/language/en-GB/en-GB.mod_articles_category.sys.ini
htdocs/language/en-GB/en-GB.mod_articles_latest.ini
htdocs/language/en-GB/en-GB.mod_articles_latest.sys.ini
htdocs/language/en-GB/en-GB.mod_articles_news.ini
htdocs/language/en-GB/en-GB.mod_articles_news.sys.ini
htdocs/language/en-GB/en-GB.mod_articles_popular.ini
htdocs/language/en-GB/en-GB.mod_articles_popular.sys.ini
htdocs/language/en-GB/en-GB.mod_banners.ini
htdocs/language/en-GB/en-GB.mod_banners.sys.ini
htdocs/language/en-GB/en-GB.mod_breadcrumbs.ini
htdocs/language/en-GB/en-GB.mod_breadcrumbs.sys.ini
htdocs/language/en-GB/en-GB.mod_custom.ini
htdocs/language/en-GB/en-GB.mod_custom.sys.ini
htdocs/language/en-GB/en-GB.mod_feed.ini
htdocs/language/en-GB/en-GB.mod_feed.sys.ini
htdocs/language/en-GB/en-GB.mod_finder.ini
htdocs/language/en-GB/en-GB.mod_finder.sys.ini
htdocs/language/en-GB/en-GB.mod_footer.ini
htdocs/language/en-GB/en-GB.mod_footer.sys.ini
htdocs/language/en-GB/en-GB.mod_languages.ini
htdocs/language/en-GB/en-GB.mod_languages.sys.ini
htdocs/language/en-GB/en-GB.mod_login.ini
htdocs/language/en-GB/en-GB.mod_login.sys.ini
htdocs/language/en-GB/en-GB.mod_menu.ini
htdocs/language/en-GB/en-GB.mod_menu.sys.ini
htdocs/language/en-GB/en-GB.mod_random_image.ini
htdocs/language/en-GB/en-GB.mod_random_image.sys.ini
htdocs/language/en-GB/en-GB.mod_related_items.ini
htdocs/language/en-GB/en-GB.mod_related_items.sys.ini
htdocs/language/en-GB/en-GB.mod_search.ini
htdocs/language/en-GB/en-GB.mod_search.sys.ini
htdocs/language/en-GB/en-GB.mod_stats.ini
htdocs/language/en-GB/en-GB.mod_stats.sys.ini
htdocs/language/en-GB/en-GB.mod_syndicate.ini
htdocs/language/en-GB/en-GB.mod_syndicate.sys.ini
htdocs/language/en-GB/en-GB.mod_tags_popular.ini
htdocs/language/en-GB/en-GB.mod_tags_popular.sys.ini
htdocs/language/en-GB/en-GB.mod_tags_similar.ini
htdocs/language/en-GB/en-GB.mod_tags_similar.sys.ini
htdocs/language/en-GB/en-GB.mod_users_latest.ini
htdocs/language/en-GB/en-GB.mod_users_latest.sys.ini
htdocs/language/en-GB/en-GB.mod_weblinks.ini
htdocs/language/en-GB/en-GB.mod_weblinks.sys.ini
htdocs/language/en-GB/en-GB.mod_whosonline.ini
htdocs/language/en-GB/en-GB.mod_whosonline.sys.ini
htdocs/language/en-GB/en-GB.mod_wrapper.ini
htdocs/language/en-GB/en-GB.mod_wrapper.sys.ini
htdocs/language/en-GB/en-GB.tpl_atomic.ini
htdocs/language/en-GB/en-GB.tpl_atomic.sys.ini
htdocs/language/en-GB/en-GB.tpl_beez3.ini
htdocs/language/en-GB/en-GB.tpl_beez3.sys.ini
htdocs/language/en-GB/en-GB.tpl_beez5.ini
htdocs/language/en-GB/en-GB.tpl_beez5.sys.ini
htdocs/language/en-GB/en-GB.tpl_beez_20.ini
htdocs/language/en-GB/en-GB.tpl_beez_20.sys.ini
htdocs/language/en-GB/en-GB.tpl_protostar.ini
htdocs/language/en-GB/en-GB.tpl_protostar.sys.ini
htdocs/language/en-GB/en-GB.xml
htdocs/language/en-GB/index.html
htdocs/language/en-GB/install.xml
htdocs/language/en-GB/install.xmlhtdocs/language/en-GB/index.html
htdocs/language/index.html
htdocs/language/overrides/*
htdocs/layouts/*
htdocs/libraries/cms.php
htdocs/libraries/cms/*
htdocs/libraries/compat/*
htdocs/libraries/fof/*
htdocs/libraries/framework/*
htdocs/libraries/idna_convert/*
htdocs/libraries/import.legacy.php
htdocs/libraries/import.php
htdocs/libraries/index.html
htdocs/libraries/joomla/*
htdocs/libraries/legacy/*
htdocs/libraries/loader.php
htdocs/libraries/phpass/*
htdocs/libraries/phpmailer/*
htdocs/libraries/phputf8/*
htdocs/libraries/platform.php
htdocs/libraries/simplepie/*
htdocs/logs/*
htdocs/media/cms/*
htdocs/media/com_banners/*
htdocs/media/com_contenthistory/*
htdocs/media/com_finder/*
htdocs/media/com_joomlaupdate/*
htdocs/media/contacts/*
htdocs/media/contacts/*
htdocs/media/editors/*
htdocs/media/index.html
htdocs/media/jui/*
htdocs/media/mailto/*
htdocs/media/media/*
htdocs/media/mod_languages/*
htdocs/media/overrider/css/index.html
htdocs/media/overrider/css/overrider.css
htdocs/media/overrider/index.html
htdocs/media/overrider/js/index.html
htdocs/media/overrider/js/overrider.js
htdocs/media/plg_quickicon_extensionupdate/*
htdocs/media/plg_quickicon_joomlaupdate/*
htdocs/media/plg_system_highlight/*
htdocs/media/system/*
htdocs/modules/index.html
htdocs/modules/mod_articles_archive/*
htdocs/modules/mod_articles_categories/*
htdocs/modules/mod_articles_category/*
htdocs/modules/mod_articles_latest/*
htdocs/modules/mod_articles_news/*
htdocs/modules/mod_articles_popular/*
htdocs/modules/mod_banners/*
htdocs/modules/mod_breadcrumbs/*
htdocs/modules/mod_custom/*
htdocs/modules/mod_feed/*
htdocs/modules/mod_finder/*
htdocs/modules/mod_footer/*
htdocs/modules/mod_languages/*
htdocs/modules/mod_login/*
htdocs/modules/mod_menu/*
htdocs/modules/mod_random_image/*
htdocs/modules/mod_related_items/*
htdocs/modules/mod_search/*
htdocs/modules/mod_stats/*
htdocs/modules/mod_syndicate/*
htdocs/modules/mod_tags_popular/*
htdocs/modules/mod_tags_similar/*
htdocs/modules/mod_users_latest/*
htdocs/modules/mod_weblinks/*
htdocs/modules/mod_whosonline/*
htdocs/modules/mod_wrapper/*
htdocs/plugins/authentication/cookie/*
htdocs/plugins/authentication/example/*
htdocs/plugins/authentication/gmail/*
htdocs/plugins/authentication/index.html
htdocs/plugins/authentication/joomla/*
htdocs/plugins/authentication/ldap/*
htdocs/plugins/captcha/*
htdocs/plugins/content/contact/*
htdocs/plugins/content/emailcloak/*
htdocs/plugins/content/example/*
htdocs/plugins/content/finder/*
htdocs/plugins/content/geshi/*
htdocs/plugins/content/index.html
htdocs/plugins/content/joomla/*
htdocs/plugins/content/loadmodule/*
htdocs/plugins/content/pagebreak/*
htdocs/plugins/content/pagenavigation/*
htdocs/plugins/content/vote/*
htdocs/plugins/editors-xtd/article/*
htdocs/plugins/editors-xtd/image/*
htdocs/plugins/editors-xtd/index.html
htdocs/plugins/editors-xtd/pagebreak/*
htdocs/plugins/editors-xtd/readmore/*
htdocs/plugins/editors/codemirror/*
htdocs/plugins/editors/index.html
htdocs/plugins/editors/none/*
htdocs/plugins/editors/tinymce/*
htdocs/plugins/extension/example/*
htdocs/plugins/extension/index.html
htdocs/plugins/extension/joomla/*
htdocs/plugins/finder/categories/*
htdocs/plugins/finder/contacts/*
htdocs/plugins/finder/content/*
htdocs/plugins/finder/index.html
htdocs/plugins/finder/newsfeeds/*
htdocs/plugins/finder/tags/*
htdocs/plugins/finder/weblinks/*
htdocs/plugins/index.html
htdocs/plugins/quickicon/*
htdocs/plugins/search/categories/*
htdocs/plugins/search/contacts/*
htdocs/plugins/search/content/*
htdocs/plugins/search/index.html
htdocs/plugins/search/newsfeeds/*
htdocs/plugins/search/weblinks/*
htdocs/plugins/system/cache/*
htdocs/plugins/system/debug/*
htdocs/plugins/system/index.html
htdocs/plugins/system/languagefilter/*
htdocs/plugins/system/log/*
htdocs/plugins/system/logout/*
htdocs/plugins/system/p3p/*
htdocs/plugins/system/redirect/*
htdocs/plugins/system/remember/*
htdocs/plugins/system/sef/*
htdocs/plugins/twofactorauth/*
htdocs/plugins/user/contactcreator/*
htdocs/plugins/user/example/*
htdocs/plugins/user/index.html
htdocs/plugins/user/joomla/*
htdocs/plugins/user/profile/*
htdocs/robots.txt.dist
htdocs/templates/atomic/*
htdocs/templates/beez3/*
htdocs/templates/beez5/*
htdocs/templates/beez_20/*
htdocs/templates/index.html
htdocs/templates/protostar/*
htdocs/templates/system/*
htdocs/tmp/*
htdocs/installation1/*
htdocs/templates/t3_bs3_blank/*
htdocs/plugins/system/custom_quantity_tax/*
htdocs/plugins/system/highlight/*
htdocs/t3-assets/dev/*
node_modules/
htdocs/administrator/language/
htdocs/language/
htdocs/media/th-TH/index.html
htdocs/media/th-TH/js/calendar-setup.js
htdocs/media/th-TH/js/calendar.js
htdocs/media/th-TH/js/index.html

backup/
